.product-tab {
  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  z-index: $product-tab-level;
  width: 100%;
  height: 40px;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-list {
    @include flexbox;
    margin: 0 -#{$grid-margin};
  }

  &-item {
    width: (100% / 5);
    height: 40px;
    border-bottom: 2px solid transparent;

    &.is-active {
      border-bottom-color: $blue;

      button {
        color: $blue;
      }
    }

    button {
      @include text-style(13, $dark);
      width: 100%;
      height: 40px;
      font-weight: 700;
      white-space: nowrap;

      &:active {
        color: $blue;
      }
    }

    .badge {
      @include text-style(12, $secondary);
    }
  }

  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md -1;
    height: $product-tab-height-md;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $background;
    border: 0;

    &-list {
      margin: 0;
    }

    &-item {
      height: $product-tab-height-md;

      button {
        @include text-style(16);
        height: $product-tab-height-md;
      }

      .badge {
        @include text-style(16);
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-item {
      button {
        transition: color 200ms ease-in-out;
      }

      &:hover {
        button {
          color: $blue;
        }
      }
    }
  }
}
