.sidebar {
  width: 240px;
  padding: 32px 20px;
  background-color: $white;

  &-header {
    .logo {
      @include flexbox(start);

      a {
        display: block;

        img {
          display: block;
          width: auto;
          height: 20px;
        }
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start);
    height: 88px;
    padding: 0 12px;
  }

  &-user {
    @include text-style(14, $primary);
    @include flexbox(start);

    font-weight: 700;

    a {
      @include flexbox(start);
      width: 100%;
    }

    .avatar-24 {
      flex-shrink: 0;
      margin-right: 8px;
    }

    .username {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-auth {
    @include flexbox(between);

    a {
      width: 84px;
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  &-user-menu {
    margin-top: 16px;

    .user-menu-list {
      .user-menu-item {
        a {
          @include text-style(14, $primary);
          @include flexbox(start);

          display: block;
          width: 100%;
          height: 36px;
          padding: 6px 12px;
          font-weight: 400;
          transition: color 200ms ease-in-out;

          &:active {
            color: $blue;
          }
        }
      }
    }
  }
}
