$gnb-level: 60;
$lnb-level: 50;
$product-tab-level: 30;

$overlay-level: 100;
$sidebar-level: 200;
$search-modal-level: 300;

$order-cta-level: 40;
$order-form-modal-level: 400;

$cart-modal-level: 500;
